* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color:black;
    font-family: "Roboto";
}

button {
    border: none;
}

a {
    transition: all 400ms ease-in-out;
    text-decoration: none;

}

h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Avenir 07', sans-serif;
    font-size: 19px;
    line-height: 22px;
    font-weight: 300;
}

.white-text {
    color: #ffffff;
}

.color-text {
    font-family: Avenir LT Std;
    line-height: 20px;
    color: #F39C12;
}

.green-text {
    color: #1D3B2D;
}

.orange-btn {
    padding: 10px 20px;
    color: #FFFFFF;
    border-radius: 5px;
    background: linear-gradient(179.73deg, #FF5E16 0.87%, #DC5418 205.93%);
}

.lemon-btn{
    background: #8DC63F;
    border-radius: 5px;
    color: #fff;
    min-width: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    font-family: 'Avenir 03', sans-serif;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;

}
.faq__green--text {
    font-family: Avenir LT Std;
    font-size: 34px;
    line-height: 41px;
    letter-spacing: 0.02em;
    color: #2BB673;
    text-align: center;
}

.faq {
    margin: 0 auto;
}
header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family:'Catamaran', sans-serif;
    color: white;
}


input, textarea {
    border-radius: 10px;
    border:none;
    outline: none;
    padding: 10px;
    line-height: 22px;
    letter-spacing: 0.02em;

}

.colored-text {
    color: #8DC63F;
}

.top-padding {
    margin-top: 20px;
}