@font-face {
  font-family: Muli;
  font-style: italic;
  font-weight: 200;
  src: local("Muli ExtraLight Italic"),local(Muli-ExtraLightItalic),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-4CPGzWQM.eot?#) format("eot"),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-4CPGzWQI.woff2) format("woff2"),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-4CPGzWQO.woff) format("woff");
}

@font-face {
  font-family: Muli;
  font-style: italic;
  font-weight: 300;
  src: local("Muli Light Italic"),local(Muli-LightItalic),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-hCDGzWQM.eot?#) format("eot"),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-hCDGzWQI.woff2) format("woff2"),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-hCDGzWQO.woff) format("woff");
}

@font-face {
  font-family: Muli;
  font-style: italic;
  font-weight: 400;
  src: local("Muli Italic"),local(Muli-Italic),url(//fonts.gstatic.com/s/muli/v13/7Au-p_0qiz-afTf2LwLX.eot?#) format("eot"),url(//fonts.gstatic.com/s/muli/v13/7Au-p_0qiz-afTf2LwLT.woff2) format("woff2"),url(//fonts.gstatic.com/s/muli/v13/7Au-p_0qiz-afTf2LwLV.woff) format("woff");
}

@font-face {
  font-family: Muli;
  font-style: italic;
  font-weight: 600;
  src: local("Muli SemiBold Italic"),local(Muli-SemiBoldItalic),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-8CbGzWQM.eot?#) format("eot"),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-8CbGzWQI.woff2) format("woff2"),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-8CbGzWQO.woff) format("woff");
}

@font-face {
  font-family: Muli;
  font-style: italic;
  font-weight: 700;
  src: local("Muli Bold Italic"),local(Muli-BoldItalic),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-lCfGzWQM.eot?#) format("eot"),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-lCfGzWQI.woff2) format("woff2"),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-lCfGzWQO.woff) format("woff");
}

@font-face {
  font-family: Muli;
  font-style: italic;
  font-weight: 800;
  src: local("Muli ExtraBold Italic"),local(Muli-ExtraBoldItalic),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-iCTGzWQM.eot?#) format("eot"),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-iCTGzWQI.woff2) format("woff2"),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-iCTGzWQO.woff) format("woff");
}

@font-face {
  font-family: Muli;
  font-style: italic;
  font-weight: 900;
  src: local("Muli Black Italic"),local(Muli-BlackItalic),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-rCXGzWQM.eot?#) format("eot"),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-rCXGzWQI.woff2) format("woff2"),url(//fonts.gstatic.com/s/muli/v13/7Au9p_0qiz-afTf-rCXGzWQO.woff) format("woff");
}

@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 200;
  src: local("Muli ExtraLight"),local(Muli-ExtraLight),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-adf3nOCX2yw.eot?#) format("eot"),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-adf3nOCX2zw.woff2) format("woff2"),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-adf3nOCX2yQ.woff) format("woff");
}

@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 300;
  src: local("Muli Light"),local(Muli-Light),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-adZnkOCX2yw.eot?#) format("eot"),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-adZnkOCX2zw.woff2) format("woff2"),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-adZnkOCX2yQ.woff) format("woff");
}

@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 400;
  src: local("Muli Regular"),local(Muli-Regular),url(//fonts.gstatic.com/s/muli/v13/7Auwp_0qiz-afTLGKQ.eot?#) format("eot"),url(//fonts.gstatic.com/s/muli/v13/7Auwp_0qiz-afTLGLQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/muli/v13/7Auwp_0qiz-afTLGKw.woff) format("woff");
}

@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 600;
  src: local("Muli SemiBold"),local(Muli-SemiBold),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-ade3iOCX2yw.eot?#) format("eot"),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-ade3iOCX2zw.woff2) format("woff2"),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-ade3iOCX2yQ.woff) format("woff");
}

@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 700;
  src: local("Muli Bold"),local(Muli-Bold),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-adYnjOCX2yw.eot?#) format("eot"),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-adYnjOCX2zw.woff2) format("woff2"),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-adYnjOCX2yQ.woff) format("woff");
}

@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 800;
  src: local("Muli ExtraBold"),local(Muli-ExtraBold),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-adZXgOCX2yw.eot?#) format("eot"),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-adZXgOCX2zw.woff2) format("woff2"),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-adZXgOCX2yQ.woff) format("woff");
}

@font-face {
  font-family: Muli;
  font-style: normal;
  font-weight: 900;
  src: local("Muli Black"),local(Muli-Black),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-adbHhOCX2yw.eot?#) format("eot"),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-adbHhOCX2zw.woff2) format("woff2"),url(//fonts.gstatic.com/s/muli/v13/7Au_p_0qiz-adbHhOCX2yQ.woff) format("woff");
}

@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 100;
  src: local("Catamaran Thin"),local(Catamaran-Thin),url(//fonts.gstatic.com/s/catamaran/v5/o-0OIpQoyXQa2RxT7-5jhgRCQ_0.eot?#) format("eot"),url(//fonts.gstatic.com/s/catamaran/v5/o-0OIpQoyXQa2RxT7-5jhgRCQ_k.woff2) format("woff2"),url(//fonts.gstatic.com/s/catamaran/v5/o-0OIpQoyXQa2RxT7-5jhgRCQ_8.woff) format("woff");
}

@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 200;
  src: local("Catamaran ExtraLight"),local(Catamaran-ExtraLight),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jKhVVZNyF.eot?#) format("eot"),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jKhVVZNyB.woff2) format("woff2"),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jKhVVZNyH.woff) format("woff");
}

@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 300;
  src: local("Catamaran Light"),local(Catamaran-Light),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jThZVZNyF.eot?#) format("eot"),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jThZVZNyB.woff2) format("woff2"),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jThZVZNyH.woff) format("woff");
}

@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 400;
  src: local("Catamaran Regular"),local(Catamaran-Regular),url(//fonts.gstatic.com/s/catamaran/v5/o-0IIpQoyXQa2RxT7-5r5TRE.eot?#) format("eot"),url(//fonts.gstatic.com/s/catamaran/v5/o-0IIpQoyXQa2RxT7-5r5TRA.woff2) format("woff2"),url(//fonts.gstatic.com/s/catamaran/v5/o-0IIpQoyXQa2RxT7-5r5TRG.woff) format("woff");
}

@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 500;
  src: local("Catamaran Medium"),local(Catamaran-Medium),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jFhdVZNyF.eot?#) format("eot"),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jFhdVZNyB.woff2) format("woff2"),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jFhdVZNyH.woff) format("woff");
}

@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 600;
  src: local("Catamaran SemiBold"),local(Catamaran-SemiBold),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jOhBVZNyF.eot?#) format("eot"),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jOhBVZNyB.woff2) format("woff2"),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jOhBVZNyH.woff) format("woff");
}

@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 700;
  src: local("Catamaran Bold"),local(Catamaran-Bold),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jXhFVZNyF.eot?#) format("eot"),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jXhFVZNyB.woff2) format("woff2"),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jXhFVZNyH.woff) format("woff");
}

@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 800;
  src: local("Catamaran ExtraBold"),local(Catamaran-ExtraBold),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jQhJVZNyF.eot?#) format("eot"),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jQhJVZNyB.woff2) format("woff2"),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jQhJVZNyH.woff) format("woff");
}

@font-face {
  font-family: Catamaran;
  font-style: normal;
  font-weight: 900;
  src: local("Catamaran Black"),local(Catamaran-Black),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jZhNVZNyF.eot?#) format("eot"),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jZhNVZNyB.woff2) format("woff2"),url(//fonts.gstatic.com/s/catamaran/v5/o-0NIpQoyXQa2RxT7-5jZhNVZNyH.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 100;
  src: local("Roboto Thin Italic"),local(Roboto-ThinItalic),url(//fonts.gstatic.com/s/roboto/v19/KFOiCnqEu92Fr1Mu51QrEzAdKw.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v19/KFOiCnqEu92Fr1Mu51QrEzAdLw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v19/KFOiCnqEu92Fr1Mu51QrEzAdKQ.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"),local(Roboto-LightItalic),url(//fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TjASc6CsA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TjASc6CsQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TjASc6CsI.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 400;
  src: local("Roboto Italic"),local(Roboto-Italic),url(//fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xIIzY.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xIIzI.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1Mu51xIIzQ.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"),local(Roboto-MediumItalic),url(//fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51S7ACc6CsA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51S7ACc6CsQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51S7ACc6CsI.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"),local(Roboto-BoldItalic),url(//fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TzBic6CsA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TzBic6CsQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TzBic6CsI.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 900;
  src: local("Roboto Black Italic"),local(Roboto-BlackItalic),url(//fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TLBCc6CsA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TLBCc6CsQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v19/KFOjCnqEu92Fr1Mu51TLBCc6CsI.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"),local(Roboto-Thin),url(//fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1MmgVxIIzY.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1MmgVxIIzI.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v19/KFOkCnqEu92Fr1MmgVxIIzQ.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"),local(Roboto-Light),url(//fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmSU5fBBc8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmSU5fBBc-.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: local(Roboto),local(Roboto-Regular),url(//fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxO.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxM.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"),local(Roboto-Medium),url(//fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmEU9fBBc8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmEU9fBBc-.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"),local(Roboto-Bold),url(//fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmWUlfBBc-.woff) format("woff");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"),local(Roboto-Black),url(//fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmYUtfBBc8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmYUtfBBc4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v19/KFOlCnqEu92Fr1MmYUtfBBc-.woff) format("woff");
}

@font-face {
  font-family: monospace;
  font-style: italic;
  font-weight: 400;
  src: local("Menlo Italic"),local(Menlo-Italic),local("Consolas Italic"),local(Consolas-Italic),local("Courier New Italic");
}

@font-face {
  font-family: monospace;
  font-style: italic;
  font-weight: 700;
  src: local("Menlo Bold Italic"),local(Menlo-BoldItalic),local(Monaco),local("Consolas Bold Italic"),local(Consolas-BoldItalic),local("Courier New Bold Italic");
}

@font-face {
  font-family: monospace;
  font-style: normal;
  font-weight: 400;
  src: local("Menlo Regular"),local(Menlo-Regular),local(Monaco),local(Consolas),local("Courier New");
}

@font-face {
  font-family: monospace;
  font-style: normal;
  font-weight: 700;
  src: local("Menlo Bold"),local(Menlo-Bold),local(Monaco),local("Consolas Bold"),local(Consolas-Bold),local("Courier New Bold");
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    margin: 0;
    padding: 0;
    color:black;
    font-family: "Roboto";
}

button {
    border: none;
}

a {
    transition: all 400ms ease-in-out;
    text-decoration: none;

}

h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Avenir 07', sans-serif;
    font-size: 19px;
    line-height: 22px;
    font-weight: 300;
}

.header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: url(../../assets/images/girl.png);
    background-position: center;
    background-repeat: no-repeat;
    font-family:'Catamaran', sans-serif;
    color: white;

        
    
}

/* object-fit: contain; */

.header__button {
        padding: 10px 20px;
        position : absolute;
        top: 50px;
        right: 50px;
        background: #FFFFFF;
        border-radius: 5px;
        color: #2BB673;
        
    }

.header__column {
        width: 50%;
        height: 100%;
        background: linear-gradient(48.66deg, rgba(29, 59, 45, 0.66) 10.34%, rgba(59, 183, 143, 0.66) 50.69%); 
        padding:55px;
        
    }

.header__column--description {
            display: flex;
            align-items:center;
        }

.header__column--description img:first-child {
                margin-right:34px;
                width: 26px;
                height:40px;
                
            }

.header__column--description img:nth-child(2) {
                margin-right:20px;
                width: 26px;
                height: 20px;
            }

.header__column--description img:last-child {
                width: 200px;
            }

.header__body {
        width: 80%;
        height: 100%; 
        display: flex;
        flex-direction: column;
        margin: 0 auto;

    
    }

.header__body--hero {
            margin: 40px 0px 16px 0px;
            /* font-family: Avenir LT Std; */
            font-size: 40px;
            line-height: 50px;
            letter-spacing: -1px;
            color: #FFFFFF;
        }

.header__body--description {
            margin-bottom: 3px;
            font-family: Avenir LT Std;
            font-size: 28px;
            line-height: 32px;
            letter-spacing: -2px;
            color: #AEF849;
        }

.header__body--description img {
                width:50%;
            }

.header__form {
        /* background: blue; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 110%;
        }

.header__form--container {
            width: 50%;
            display: flex;
            flex-direction:column;
            justify-content:space-between;

            


        }

.header__form--container-body {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 230px;
                height: 50px;
                border-radius: 6px;
                margin: 6px 0px;
                background: white;
                font-family:'Catamaran', sans-serif;
                font-size: 15px;
                line-height: 17px;
                color: #5C5C5C;
            }

.header__form--container-body input {
                    width: 80%;
                    outline:none;
                    border:none;
                    padding: 10px 16px;
                    background: white;
                    font-family:'Catamaran', sans-serif;                    
                    font-size: 14px;
                    /* line-height: 17px; */
                    color: #5C5C5C;
                    
                }

.header__form--container-body input:last-child {
                        /* width: 0%; */
                        padding: 0px;
                    }

.header__form--container-body input:focus {
                        /* outline: 1px solid blue; */
                        /* border-radius: 2px; */
                        
                    }

.header__form--container-body-text {
                    width: 70%;
                    padding:0px 10px;
                    
                }

.header__form--radio {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            margin: 20px 0px 30px 0px;

                
            }

.header__form--radio-container {
                display: flex;
                align-items:center;
                justify-content:space-between;
                font-size: 16px;
                line-height: 21px;
                      
                }

/* & input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                      } */

.header__form--radio-container-checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 60px;
                        width: 60px;
                        background-color: #8DC63F;
                        border-radius: 50%;
                      }

.header__form--submit{
                padding: 10px 20px;
                color: #FFFFFF;
                border-radius: 5px;
                background: linear-gradient(179.73deg, #FF5E16 0.87%, #DC5418 205.93%);
                
                }

.description {
    width: 100%;
    display: flex;

}

/* height: 60vh; */

.description__mission {
        width:50%;
        height:50vw;
        background: url(../../assets/images/bggate.png);
        background-size:cover;
        position: relative;
        /* z-index: 1; */
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: 25% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 23px 0 60px 14px rgba(0, 0, 0, .2);
        
    }

.description__mission--container {
            width: 65%;
            height: 50%;
            display: flex;
            flex-direction: column;
            max-width: 450px;
            padding: 5vw 5vw 5vw;
            justify-content: space-between;
            align-items: center;
            border-style: solid;
            border-width: 5px;
            /* background: url(/app//assets//images/missionlg.png); */
            background: linear-gradient(180.08deg, rgba(141, 198, 63, 0.1534) 0.1%, rgba(108, 192, 80, 0.26) 99.9%);
            border: 5px solid #B1F751;

            }

/* & img {
                width: 40px;
                height: 40px;
            } */

.description__mission--container-text {
                font-family: Avenir LT Std;
                font-size: 24px;
                line-height: 36px;
                color: white;

            }

.description__mission--container-text-red {
                    color: #FE611B;
                }

.description__menu {
        position: relative;
        display: flex;
        width: 50%;
        height: 50vw;
        padding-top: 8vw;
        padding-right: 8vw;
        padding-bottom: 8vw;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

/* background-color: #f3eee7; */

.description__menu--bg {
            position: absolute;
            top:30vh;
            left:55px;
            z-index: -2;
        }

.description__menu--container {
            width: 100%;
            height: 100%;
            padding-top: 2vw;
            padding-right: 2vw;
            padding-bottom: 2vw;
            background-image: linear-gradient(135deg, #2bb673 28%, #8dc63f 72%);
        }

.description__menu--container-inner {
                position: relative;
                display: flex;
                padding: 5vw 3vw 3vw 4vw;
                flex-direction: column;
                justify-content: center;
                background-color: #f3eee7;
                background-image: none;
            }

.description__menu--container-inner-home {
                    position: static;
                }

.description__menu--container-inner-home-tab {
                        position: absolute;
                        left: 4vw;
                        top: 0px;
                        display: flex;
                        padding-top: 10px;
                        padding-right: 10px;
                        padding-left: 10px;
                        flex-direction: row;
                        align-items: stretch;
                        border-bottom: 1px solid #1d3b2d;
                    }

.description__menu--container-inner-home-tab-link {
                            /* font-family: Avenir LT Std; */
                            /* font-size: 11px;
                            line-height: 13px;
                            /* letter-spacing: 0.02em; */
                            
                            display: block;
                            margin-right: 5px;
                            padding: 0px 10px;
                            flex: 0 auto;
                            background-color: transparent;
                            transition-duration: 600ms;
                            color: #1d3b2d;
                            position: relative;
                            display: inline-block;
                            vertical-align: top;
                            text-decoration: none;
                            padding: 9px 30px;
                            text-align: left;
                            cursor: pointer;
                            color: #1D3B2D; 
                            max-width: 100%;
                            height:100%;

                        }

.description__menu--container-inner-home-tab-link-current {
                                position: static;
                                top: 0px;
                                display: flex;
                                width: auto;
                                height: 10vw;
                                min-width: 10vw;
                                margin-top: -55px;
                                margin-bottom: -25px;
                                padding-right: 24px;
                                padding-left: 24px;
                                justify-content: center;
                                align-items: center;
                                background-color: #1d3b2d;
                                box-shadow: 11px 11px 27px 0 rgba(0, 0, 0, .25);
                                color: #8dc63f;
                            }

.description__menu--container-inner-home-content {
                        position: relative;
                        display: block;
                        overflow: hidden;
                        font-family: Avenir LT Std;
                        font-size: 19px;
                        line-height: 22px;
                        color: #333333;
                        height: 44vh;
                    }

.description__menu--container-inner-home-content-text {
                            position: relative;
                            display: none;
                            margin: 40px 0;
                        }

.description__menu--container-inner-home-content-text-active {
                                display: block;
                            }

.ucol {
    display: flex;
    margin-top: 1.2vw;
    padding: 3vw 10vw ;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;

    
}

/* z-index: -10; */

.ucol__pay, .ucol__time {
        width: 30%;
        padding: 20px 5vw;
        text-align: center;
        width: 35%;
        background: #F5F5F5;
        padding: 20px 5vw;
        border: 1px solid #2bb673;
        text-align: center;
        border: 1px solid #FF5E16;
        box-sizing: border-box;
        box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);

    }

/* background: white; */

.ucol__ticket {
        width: 50%;
        position: relative;
        display: flex;
        align-items: center;
        margin-right: -4px;
        margin-left: -4px;
        padding: 4vw 6vw;
        justify-content: space-around;
        text-align: left;
        background:white;
        border: 1px solid #FF5E16;
        box-sizing: border-box;
        box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.15);
        
        }

.ucol__ticket--text {
            font-family: Muli;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            color: #1D3B2D;
        }

.ucol__green {
            font-family: Avenir LT Std;
            font-size: 40px;
            /* line-height: 65px; */
            letter-spacing: 0.02em;
            color: #94C94A;
        }

.ucol__text {
            font-family: Muli;
            font-style: normal;
            font-weight: 800;
            font-size: 20px;
            /* line-height: 38px; */
            letter-spacing: 0.02em;
            color: #1D3B2D;
        }
