.description {
    width: 100%;
    display: flex;
    /* height: 60vh; */
    
    

    &__mission {
        width:50%;
        height:50vw;
        background: url(../../assets/images/bggate.png);
        background-size:cover;
        position: relative;
        /* z-index: 1; */
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: 25% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 23px 0 60px 14px rgba(0, 0, 0, .2);

        &--container {
            width: 65%;
            height: 50%;
            display: flex;
            flex-direction: column;
            max-width: 450px;
            padding: 5vw 5vw 5vw;
            justify-content: space-between;
            align-items: center;
            border-style: solid;
            border-width: 5px;
            /* background: url(/app//assets//images/missionlg.png); */
            background: linear-gradient(180.08deg, rgba(141, 198, 63, 0.1534) 0.1%, rgba(108, 192, 80, 0.26) 99.9%);
            border: 5px solid #B1F751;

            /* & img {
                width: 40px;
                height: 40px;
            } */

            &-text {
                font-family: Avenir LT Std;
                font-size: 24px;
                line-height: 36px;
                color: white;

                &-red {
                    color: #FE611B;
                }

            }

            }
        
    }

    &__menu {
        position: relative;
        display: flex;
        width: 50%;
        height: 50vw;
        padding-top: 8vw;
        padding-right: 8vw;
        padding-bottom: 8vw;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        /* background-color: #f3eee7; */
        
        &--bg {
            position: absolute;
            top:30vh;
            left:55px;
            z-index: -2;
        }

        &--container {
            width: 100%;
            height: 100%;
            padding-top: 2vw;
            padding-right: 2vw;
            padding-bottom: 2vw;
            background-image: linear-gradient(135deg, #2bb673 28%, #8dc63f 72%);

            &-inner {
                position: relative;
                display: flex;
                padding: 5vw 3vw 3vw 4vw;
                flex-direction: column;
                justify-content: center;
                background-color: #f3eee7;
                background-image: none;

                

                &-home {
                    position: static;

                    &-tab {
                        position: absolute;
                        left: 4vw;
                        top: 0px;
                        display: flex;
                        padding-top: 10px;
                        padding-right: 10px;
                        padding-left: 10px;
                        flex-direction: row;
                        align-items: stretch;
                        border-bottom: 1px solid #1d3b2d;

                        

                        &-link {
                            /* font-family: Avenir LT Std; */
                            /* font-size: 11px;
                            line-height: 13px;
                            /* letter-spacing: 0.02em; */
                            
                            display: block;
                            margin-right: 5px;
                            padding: 0px 10px;
                            flex: 0 auto;
                            background-color: transparent;
                            transition-duration: 600ms;
                            color: #1d3b2d;
                            position: relative;
                            display: inline-block;
                            vertical-align: top;
                            text-decoration: none;
                            padding: 9px 30px;
                            text-align: left;
                            cursor: pointer;
                            color: #1D3B2D; 
                            max-width: 100%;
                            height:100%;


                            &-current {
                                position: static;
                                top: 0px;
                                display: flex;
                                width: auto;
                                height: 10vw;
                                min-width: 10vw;
                                margin-top: -55px;
                                margin-bottom: -25px;
                                padding-right: 24px;
                                padding-left: 24px;
                                justify-content: center;
                                align-items: center;
                                background-color: #1d3b2d;
                                box-shadow: 11px 11px 27px 0 rgba(0, 0, 0, .25);
                                color: #8dc63f;
                            }

                        }
                    }

                    &-content {
                        position: relative;
                        display: block;
                        overflow: hidden;
                        font-family: Avenir LT Std;
                        font-size: 19px;
                        line-height: 22px;
                        color: #333333;
                        height: 44vh;  
                                 

                        &-text {
                            position: relative;
                            display: none;
                            margin: 40px 0;
                            

                            &-active {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }

}

