.header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background: url(../../assets/images/girl.png);
    background-position: center;
    background-repeat: no-repeat;
    font-family:'Catamaran', sans-serif;
    color: white;
    
    /* object-fit: contain; */


    &__button {
        padding: 10px 20px;
        position : absolute;
        top: 50px;
        right: 50px;
        background: #FFFFFF;
        border-radius: 5px;
        color: #2BB673;
        
    }

    &__column {
        width: 50%;
        height: 100%;
        background: linear-gradient(48.66deg, rgba(29, 59, 45, 0.66) 10.34%, rgba(59, 183, 143, 0.66) 50.69%); 
        padding:55px;


        &--description {
            display: flex;
            align-items:center;


            & img:first-child {
                margin-right:34px;
                width: 26px;
                height:40px;
                
            }
            & img:nth-child(2) {
                margin-right:20px;
                width: 26px;
                height: 20px;
            }
            & img:last-child {
                width: 200px;
            }
        }
        
    }

    &__body {
        width: 80%;
        height: 100%; 
        display: flex;
        flex-direction: column;
        margin: 0 auto;

        &--hero {
            margin: 40px 0px 16px 0px;
            /* font-family: Avenir LT Std; */
            font-size: 40px;
            line-height: 50px;
            letter-spacing: -1px;
            color: #FFFFFF;
        }
        
        &--description {
            margin-bottom: 3px;
            font-family: Avenir LT Std;
            font-size: 28px;
            line-height: 32px;
            letter-spacing: -2px;
            color: #AEF849;

            img {
                width:50%;
            }
        }

    
    }
    
    &__form {
        /* background: blue; */
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 110%;
        

        &--container {
            width: 50%;
            display: flex;
            flex-direction:column;
            justify-content:space-between;
            
            
            &-body {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 230px;
                height: 50px;
                border-radius: 6px;
                margin: 6px 0px;
                background: white;
                font-family:'Catamaran', sans-serif;
                font-size: 15px;
                line-height: 17px;
                color: #5C5C5C;

                & input {
                    width: 80%;
                    outline:none;
                    border:none;
                    padding: 10px 16px;
                    background: white;
                    font-family:'Catamaran', sans-serif;                    
                    font-size: 14px;
                    /* line-height: 17px; */
                    color: #5C5C5C;

                    &:last-child {
                        /* width: 0%; */
                        padding: 0px;
                    }

                    &:focus {
                        /* outline: 1px solid blue; */
                        /* border-radius: 2px; */
                        
                    }
                    
                }

                &-text {
                    width: 70%;
                    padding:0px 10px;
                    
                }
            }

            


        }

        &--radio {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            margin: 20px 0px 30px 0px;

            &-container {
                display: flex;
                align-items:center;
                justify-content:space-between;
                font-size: 16px;
                line-height: 21px;

                /* & input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                      } */
                      
                &-checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 60px;
                        width: 60px;
                        background-color: #8DC63F;
                        border-radius: 50%;
                      }
                      
                }

                
            }

        &--submit{
                padding: 10px 20px;
                color: #FFFFFF;
                border-radius: 5px;
                background: linear-gradient(179.73deg, #FF5E16 0.87%, #DC5418 205.93%);
                
                }
        }

        
    
}