.location {
    padding: 4vw 15vw 7.5vw;
    background-color: #f5f5f5;

    &__view--btn {
        /* font-family: Avenir LT Std; */
        font-size: 11px;
        line-height: 13px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    &__wrapper {
        display: flex;
        margin-bottom: 20px;
        justify-content: space-between;

        &--london {
            background-image: url(../../../assets/images/londonbg.png);
        }
        &--santorini {
            background-image: url(../../../assets/images/santorinibg.png);
        }
        &--lagos {
            background-image: url(../../../assets/images/lagosbg.png);
        }
        &--paris {
            background-image: url(../../../assets/images/parisb.png);
        }

        &--link{
            position: relative;
            display: flex;
            overflow: hidden;
            width: 34vw;
            height: 22vw;
            padding: 2vw;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 10px;
            background-position: 50% 50%;
            background-size: cover;
            
            &-top {
                position: relative;
                z-index: 1;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                &-container {
                    transform: translateY(20px)
                }

                &-preview {
                    font-family: Avenir LT Std;
                    font-size: 50px;
                    line-height: 60px;
                    color: #FFFFFF;
                }
            }

            

            &-bottom {
                display: flex;
                align-items: flex-start;
                flex-direction: column;

                &-container {
                    display: inline-block;
                    margin-bottom: 5px;
                    padding: 15px 15px 12px;
                    background: rgba(6, 3, 0, 0.43);
                    border: 1.5px solid #FFFFFF;
                    box-sizing: border-box;
                    border-radius: 7px;
                }

                & h4{
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-family: 'Avenir 03', sans-serif;
                    font-size: 20px;
                    line-height: 26px;
                    font-weight: 900;
                }
            }

        }
        
        

    }
}